# =====================
# Dependências
# =====================
node_modules/
**/node_modules/

# =====================
# Turborepo
# =====================
.turbo/

# =====================
# Builds
# =====================
dist/
build/
.next/
out/

# =====================
# Logs
# =====================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# =====================
# Env
# =====================
.env
.env.*
